* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}


body {
    background-color: #90bdeb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.score {
    position: absolute;
    font-size: 4vmin;
    top: 1vmin;
    right: 1vmin;
}

.start {
    position: absolute;
    font-size: 5vmin;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ground {
    --left: 0;
    position: absolute;
    width: 200%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.rabbit {
    --bottom: 18;
    position: absolute;
    left: 1%;
    height: 30%;
    top: 30;
    bottom: calc(var(--bottom) * 1%);
}

.easter-egg {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
    /* or bottom: 0 ? */
}

.hide {
    display: none;
}